html
head
    title My Site
    script(src='https://telegram.org/js/telegram-web-app.js')
    script(
        src='https://code.jquery.com/jquery-3.6.0.min.js'
    )
    script(src='/tgCallback.js')
body
    button(
        onclick='makeCallback()'
    ) Push me


